name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------- Docker Login ----------
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ---------- Backend ----------
      - name: Build Backend Image (for tests)
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          load: true
          tags: vempatisriram2004/capstone-backend:test

      - name: Run Backend Tests
        run: |
          docker run --rm \
            vempatisriram2004/capstone-backend:test \
            python -m pytest test_app.py -q -o cache_dir=/tmp/pytest

      - name: Trivy Scan Backend Image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: vempatisriram2004/capstone-backend:test
          format: table
          exit-code: 0
          severity: CRITICAL,HIGH

      - name: Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: vempatisriram2004/capstone-backend:latest

      # ---------- Frontend ----------
      - name: Build Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          load: true
          tags: vempatisriram2004/capstone-frontend:test

      - name: Trivy Scan Frontend Image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: vempatisriram2004/capstone-frontend:test
          format: table
          exit-code: 0
          severity: CRITICAL,HIGH

      - name: Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: vempatisriram2004/capstone-frontend:latest
