name: Frontend CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-scan-push-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          load: true
          tags: vempatisriram2004/capstone-frontend:test

      - name: Trivy Scan Frontend Image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: vempatisriram2004/capstone-frontend:test
          format: table
          exit-code: 0
          severity: CRITICAL,HIGH

      - name: Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: vempatisriram2004/capstone-frontend:latest
